$white: #fff;
$gray: #666;
$light-gray: #eee;
$blue: #165e83;
$pink: #FBE9E7;
$red: #f44336;
$green: #0F0;
$orange: #FFB74D;

$main-color: $red;
$link-color: $blue;
$back-color: $pink;
$hl-color: $orange;