$white: #fff;
$gray: #666;
$light-gray: #eee;
$blue: #165e83;
$pink: #FBE9E7;
$red: #d64030;
$green: #0F0;
$orange: #FFB74D;
$cream: #e7d9bd;

$main-color: $red;
$link-color: $blue;
$back-color: $cream;
$hl-color: $cream;
$name-color: $cream;