$white: #fff;
$gray: #23431E;
$light-gray: #eee;
$blue: #0288D1;
$pink: #FBE9E7;
$red: #d32f2f;
$green: #3ac53a;
$orange: #FFB74D;
$cream: #e7d9bd;
$leaf: #dbdbb7;

$main-color: $red;
$link-color: $blue;
$back-color: $cream;
$hl-color: $leaf;
$name-color: $cream;
$h-color: $green;
